*{
    font-size: 40;
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
}
.child{
    font-size: 12;
    background-color: hsl(195, 40%, 44%);
}
.parent{
  font-size:12;
  background-color:green;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
